/* ============= RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* ============= VARIABELS */
:root {
  --hue: 350;

  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);

  --title-color: hsl(var(--hue) 41% 10%);

  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);

  --body-color: hsl(0 0% 98%);

  --header-heigth: 4.5rem;

  --title-font-size: 1.5rem;
}

/* ============= BASE */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) "Poppins", sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem "DM Sans", sans-serif;
}

.button:hover {
  background-color: var(--base-color-alt);
  transition: background 0.3s;
}

/* ============= NAVEGAÇÃO */
nav {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  text-align: center;
  list-style: none;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--base-color);
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  transition: 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
  font-weight: bold;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20;

  transition: 0.3s;
}

nav .menu ul {
  display: none;
}

nav.show .menu ul {
  display: grid;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background-color: var(--body-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  right: 1.5rem;
  top: 1.5rem;

  transition: 0.3s;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
}

.toggle {
  font-size: 1.5rem;
  color: var(--base-color);
  cursor: pointer;
}

/* ============= LAYOUT */

#header {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  left: 0;
  z-index: 100;
  height: var(--header-heigth);
  border-bottom: 1px solid #e4e4e4;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.logo {
  font: 700 1.31rem "Poppins", sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-heigth)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsl(var(--hue), 36%, 57%, 1) 0%,
    hsl(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsl(var(--hue), 65%, 88%, 0.34),
    hsl(var(--hue), 36%, 57%, 1)
  );
}

main {
  margin-top: calc(var(--header-heigth) + 2rem);
}

/* ============= HOME */
#home {
  /*overflow: hidden;*/
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image img {
  position: relative;
  right: 3rem;
}

#home .image::before {
  content: "";
  background-color: var(--base-color-second);
  width: 83.2%;
  height: 100%;
  position: absolute;
  top: -16.8%;
  right: 0%;
  z-index: 0;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

#home .text h1 {
  margin-bottom: 1rem;
}

/* =============== ABOUT*/

#about .container .text {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image img {
  position: relative;
}

#about .image::before {
  content: "";
  background-color: var(--base-color-second);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -8.3%;
  left: -33%;
  right: 0;
  z-index: 0;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}

#about .text p {
  margin-bottom: 2rem;
}

#about .text h1 {
  margin-bottom: 1rem;
}

/* =============== SERVICES*/

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25 0 0;
  text-align: center;
}

.card i {
  display: block;
  font-size: 5rem;
  margin-bottom: 1.5rem;
  color: var(--base-color);
}

.card .title {
  font-size: var(--title-font-size);
  margin-bottom: 0.75rem;
}

/* =============== TESTMONIALS*/
.testimonial blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  display: block;
  background-color: white;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}

.testimonial blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

.testimonial blockquote p span {
  font-size: 2.5rem;
  font-family: serif;
  font-weight: 700;
  color: var(--base-color);
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
}

.testimonial cite {
  display: flex;
  align-items: center;
  font-style: normal;
  color: var(--text-color);
}

.testimonial cite img {
  width: 2rem;
  height: 2rem;
  clip-path: circle();
  object-fit: cover;
  margin-right: 0.5rem;
}

.swiper-slider {
  height: auto;
  padding: 4rem 1rem;
}

.testimonials .swiper .swiper-pagination-bullet-active {
  background: var(--base-color);
}

/* =============== CONTACT */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  list-style: none;
}

#contact ul li i {
  color: var(--base-color);
}

#contact .text i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

/* =============== FOOTER */

footer {
  background: var(--base-color);
}
footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

/* =============== BACK TO TOP */

.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem;

  font-size: 1.5rem;

  clip-path: circle();

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;

  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/* responsividade */
/* Maior que 1200 */
@media (min-width: 1200px) {
  main {
    margin-top: var(--header-heigth);
  }

  .section .container,
  #header .container,
  #services .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;

    transition: 0.3s;
  }

  nav .menu ul {
    display: flex;
  }

  nav .menu ul li a.title {
    font: 400 1rem "DM Sans", sans-serif;
  }

  nav .toggle {
    display: none;
  }

  nav ul li a.active {
    color: var(--base-color);
    width: 100%;
    font-weight: bold;
  }

  nav ul li a.active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--base-color);
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    transition: 0.2s;
  }

  nav ul li a.active:hover::after {
    width: 100%;
  }

  .section {
    padding: 10rem 0;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  #home .image {
    order: 1;
    max-width: 36rem;
  }

  #home .image::before {
    content: "";
    background-color: var(--base-color-second);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16.8%;
    right: -16.8%;
    z-index: 0;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  #about .container {
    grid-auto-flow: column;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .container .text {
    max-width: 25rem;
  }

  footer.section {
    padding: 3.75rem 0;
  }

  footer.section .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/* Maior que 1023 */
@media (min-width: 1023px) {
}

/* Maior que 992 */
@media (min-width: 992px) {
  :root {
    --hue: 275;
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

/* Maior que 767 */
@media (min-width: 767px) {
}
